<!-- post1.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post 1 Details</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/post1.css" />
  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="container">
      <div class="post-details">
        <h2>Ocean Opulence</h2>
        <div class="img-border">
          <img
            src="https://www.ynfpublishers.com/wp-content/uploads/2014/09/Illusion-Profile.jpg"
            alt="Ocean Opulence"
          />
        </div>
        <p>
          Sail the seas in style with this luxurious yacht, boasting spacious
          decks and lavish interiors for the ultimate in comfort and elegance.
        </p>
        <p class="price">Price: $2,500,000.00</p>
        <a href="mailto:kyliejay@kyliecosmetics.com">
          <p>Contact <span class="user-name">Kylie Jenner</span> to inquire</p>
        </a>
      </div>
    </div>
  </body>
</html>
