<!-- post1.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post 1 Details</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/post1.css" />
</head>
<body>
    <div class="container">
        <h1>Ocean Opulence</h1>
        <div class="post-details">
          <img src="https://www.ynfpublishers.com/wp-content/uploads/2014/09/Illusion-Profile.jpg" alt="Ocean Opulence">
            <p>Sail the seas in style with this luxurious yacht, boasting spacious decks and lavish interiors for the ultimate in comfort and elegance.</p>
            <p>Price: $2500000.00</p>
            <a href="mailto:kyliejay@kyliecosmetics.com"> <p> Contact Kylie Jay to inquire</p>
           </a>
        </div>
    </div>
</body>
</html>
